<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.svg.etu.location.LocationDAO">
    <select id="getLocation" resultType="com.svg.etu.location.LocationVO">
    	select *
    	from location
    	where sigugun = #{sigugun}
    </select>
</mapper>